*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:#d9d9d9;
}

.Color-Linea{
    border: 2px solid white;
}


.page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px 30px;
}

.container{
    width:min(1400px, 95vw);
    display:grid;
    grid-template-columns: 420px 1fr;  /* antes 320px */
    gap:90px;
    align-items:center;
}

/* IZQUIERDA */
.title{
    font-size:22px;
    font-weight:700;
    margin-bottom:18px;
}

.calendar{
    width:380px;
    background:#f4f4f4;
    border-radius:16px;
    padding:24px;
}

.cal-header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:10px;
}

.nav-btn{
    width:34px;
    height:34px;
    border:none;
    border-radius:10px;
    background:#ffffff;
    cursor:pointer;
    font-size:18px;
}

.selects{
    display:flex;
    gap:8px;
}

select{
    height:32px;
    padding:0 10px;
    border:1px solid #ddd;
    border-radius:10px;
}

.dow{
    display:grid;
    grid-template-columns:repeat(7, 1fr);
    gap:6px;
    font-size:11px;
    text-align:center;
    margin-bottom:8px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(7, 1fr);
    gap:6px;
}

/* Ocultar radios */
.grid input{
    display:none;
}

.day{
    height:45px;
    border-radius:12px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:14px;
    cursor:pointer;
    background:transparent;
}

.day:hover{
    background:#eaeaea;
}

/* Seleccionado */
.grid input:checked + .day{
    background:#111;
    color:#fff;
}

/* DERECHA */
.slots{
    background:#bfbfbf;
    border-radius:8px;
    padding:18px;
}

.slots-grid{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:14px;
}

.slot{
    height:70px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:700;
}

.slot.available{
    color:#1d7a2c;
}

.slot.busy{
    color:#c11b1b;
}
.btn-reserva {
    display: block;
    width: 380px;
    margin-top: 20px;
    padding:15px;
    background-color: #ff0000;
    color:white;
    border:none;
    border-radius: 12px;
    font-size:16px;
    font-weight: bold;
    cursor:pointer;
    transition: background 0.3s ease;
}
.btn-reserva:hover{
    background-color: #cc0000;
}
