
html,body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #dcdcdc
}

.Color-Linea{
    border: 2px solid white;
}

.profile-container {
    display: flex;
    flex:1;
}

.profile-managment, .profile-info{
    flex: 1;
    padding: 40px;
}
.tabs-container{
    display: flex;
    margin-bottom: 20px;
}

.tab{
    flex: 1;
    padding: 15px;
    border: 1px solid #000;
    cursor: pointer;
    font-weight: bold;
}
.tab.active{
    background-color: #000;
    color: #fff;
}
.tab:not(.active){
    background-color: #fff;
    color: #000;
}
.profile-info{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.button-red{
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background 0.35s;
}
.button-red:hover{
    background-color: #cc0000;
}
.hide{
    display: none;
}
.item-list {
    margin: 20px 0;
    list-style: none;
    border-top: 1px solid #ccc;
}
.item-list li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 0.9rem;
}