*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #D6D6D6;
}

.Color-Linea{
    border: 2px solid white;
    width: 100%;
}

#main-content{
    margin: 20px;
    justify-items: center;
}

.article-container{
    flex: 1;
    width: 90%;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.custom-details{
    border:1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    transition: all 0.3s ease;
}
.custom-details summary{
    font-weight: bold;
    cursor: pointer;
    list-style: none;
    padding: 10px;
}
.custom-details summary:hover{
    color: #007BFF;
}
.custom-details .content{
    padding: 10px;
    border-top: 1px solid black;
    line-height: 1.6;
    color: black;
}

#search-form {
    display: none !important;
}

@media (min-width:769px) and (max-width: 1024px) {
    .Titulo{
        font-size: 2rem;
    }

    .texto{
        font-size: 1.5rem;

    }
}
