*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #D6D6D6;
    min-height: 100vh;
}

.Color-Linea{
    border: 2px solid white;
    width: 100%;
    margin: 0;
    padding: 0;
}

#main-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    padding: 40px 20px;

    position: relative;
    z-index: 1;
    overflow: hidden;
}

#main-content::before {
    content: "";
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    z-index: -1;

    background-image: var(--bg-taller);
    background-size: cover;
    background-position: center;

    filter: blur(10px);
    opacity: 0.6;
}

.article-container{
    width: 100%;
    max-width: 800px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.custom-details{
    border:1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    transition: all 0.3s ease;
}
.custom-details summary{
    font-weight: bold;
    cursor: pointer;
    list-style: none;
    padding: 10px;
}
.custom-details summary:hover{
    color: #007BFF;
}
.custom-details .content{
    padding: 10px;
    border-top: 1px solid black;
    line-height: 1.6;
    color: black;
}


@media (min-width:769px) and (max-width: 1024px) {
    .Titulo{
        font-size: 2rem;
    }

    .texto{
        font-size: 1.5rem;

    }
}
