


<head>
  <link rel="stylesheet" href="/css/footer.css">
</head>





<footer class="main-footer">
  <div class="footer-container">
    <nav class="footer-section"  aria-label="Enlaces de ayuda">
        <ul>
          <li> <a href="/pages/questions.html"> Preguntas frecuentes </a></li>
        </ul>
    </nav>

    <nav class="footer-section" aria-label="Información legal">
      <ul>
        <li> <a href="/pages/privacy.html"> Contacto </a></li>
      </ul>
    </nav>

    <nav class="footer-section" aria-label="Redes sociales">
      <ul>
        <li><a href="https://x.com/alealejo44"> redes sociales </a></li>
      </ul>
    </nav>


    <section class="footer-information">
      <address>

      <p class=" footer-text">Informacion de contacto</p>
      <p class=" footer-text">telefono: 333333333</p>
      <p class=" footer-text">correo electronico: tutallerdeconfi@gmail.com</p>
      </address>
    </section>
    </div>
  </footer>

