


<footer class="main-footer">
  <div class="footer-container">
    <div class="footer-questions">
      <a href="../pages/questions.html"> Preguntas frecuentes </a>
    </div>
    <div class="footer-privacity">
      <a href="../pages/privacy.html"> Politica de Privacidad </a>
    </div>
    <div class="footer-contact">
      <a href="https://x.com/alealejo44"> redes sociales </a>
    </div>
    <div class="footer-information">
      <p class=" footer-text">Informacion de contacto</p>
      <p class=" footer-text">telefono: 333333333</p>
      <p class=" footer-text">correo electronico: tutallerdeconfi@gmail.com</p>
    </div>

  </div>
  </footer>