


<head>
  <link rel="stylesheet" href="../css/footer.css">
</head>





<footer class="main-footer">
  <div class="footer-container">
    <nav class="footer-section"  aria-label="Enlaces de ayuda">
        <ul>
          <li> <a href="../partials/text.html?id={{id}}&tipo=politicas"> Politicas de privacidad </a></li>
        </ul>
    </nav>

    <nav class="footer-section" aria-label="Información legal">
      <ul>
        <li> <a href="../partials/text.html?id={{id}}&tipo=preguntas"> Preguntas frecuentes </a></li>
      </ul>
    </nav>

    <nav class="footer-section" aria-label="Redes sociales">
      <ul>
        <li><a href="https://x.com/alealejo44"> redes sociales </a></li>
      </ul>
    </nav>


    <section class="footer-information">
      <address>

      <p id=" footer-text">Informacion de contacto</p>
      <p id=" footer-number">telefono: 333333333</p>
      <p id=" footer-mail">correo electronico: tutallerdeconfi@gmail.com</p>
      </address>
    </section>
    </div>
  </footer>

