<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Titulo</title>
    <link rel="stylesheet" href="../css/header.css">

</head>

<body>

    <header id="header_disign">

        <figure>
            <a href="../pages/Index.html">
                <img id="Taller-image" src="../Fotos/imagen.png" alt="logo" class="logo_circular">
            </a>
        </figure>


        <form id="search-form">
            <input type="search" id="search-input" placeholder="Buscar Talleres..." required>
            <button type="submit">🔍</button>
        </form>


        <figure>
            <a href="../pages/profile.html">
                <img id="profile-image" src="../Fotos/fotoperfil.webp" alt="perfil" class="logo_circular">
            </a>
        </figure>

    </header>

</body>
</html>