<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Titulo</title>
    <link rel="stylesheet" href="../css/header.css">

</head>

<body>

<header id="header_disign">

    <figure>
        <a href="../index.html" id="home-link">
            <img id="Taller-image" src="../Fotos/Nuestro%20logo.png" alt="logo" class="logo_circular">
        </a>
    </figure>


    <form id="search-form">
        <input type="search" id="search-input" placeholder="Buscar Talleres..." required>
        <button type="submit">🔍</button>
    </form>


    <figure>
        <div class ="header-user-section">

            <button id ="btn-logout" class="hidden">Salir</button>
            <a href="#" id ="profile-link">
                <img id="profile-image" src="../Fotos/fotoperfil.webp" alt="perfil" class="logo_circular">
            </a>
        </div>
    </figure>

</header>

</body>
</html>