<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Talleres</title>
    <link rel="stylesheet" href="../css/StyleTalleres.css">
</head>
<body>

<main>
    <div class="tu-contenedor-flex">
        <article class="Taller">

            <header>
                <a href="../pages/Taller-Informacion.html?id=101">
                    <img src="../Fotos/imagen.png" alt="Foto Taller 2" class="imagen-taller">
                </a>
                <h3 class="texto-h3">Nombre Taller</h3>
            </header>

            <footer class="resenas">
                <div class="estrellas-contenedor">
                    <span class="estrellas">★★★★★</span>
                </div>
                <a href="../pages/reviews.html" class="texto-resenas">Nº Reseñas</a>
            </footer>

        </article>
    </div>
</main>

</body>
</html>