<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/text.css">
</head>
<body>

    <header id="site-header"></header>

    <hr class="Color-Linea">

    <main id="main-content"></main>

    <footer id="site-footer"></footer>
    <script src="../javascript/PoliticasyPreguntas.js"></script>


</body>
</html>

<!--
 <article class="article-container">
        <h1>Lorem Ipsum</h1>

        <details class ="custom-details">
            <summary>Lorem Ipsum</summary>

            <div class="content">
                <p>Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's standard
            dummy text ever since the 1500s, when an unknown printer took </p>
            </div>
        </details>
    </article>
-->
