.custom-dialog{
    border: none;
    border-radius: 8px;
    padding: 30px;
    background: #e0e0e0;
    width: 90%;
    max-width: 400px;
    position: relative;

}

.custom-dialog::backdrop{
    background: rgba(0,0,0,0.6);
}
.custom-dialog h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.custom-dialog .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: black;
    color: white;
    border-radius: 50%;
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-weight: bold;
}

.dialog-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.9rem;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-black {
    background: #333;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    transition: background 0.3s;
}

.btn-black:hover {
    background: #000;
}