<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NombreTaller</title>
    <link  rel="stylesheet"  href="StyleTallerInformacion.css">
</head>
<body>

    <div class="tu-contenedor-flex">
      <div class="TallerInfo">

        <div class="botones-especialidad">
          <a href="../Especialidad/Especialidad-Taller.html" class="botonEspecialidad">Especialidad1</a>
          <a href="../Especialidad/Especialidad-Taller.html" class="botonEspecialidad">Especialidad2</a>
        </div>

        <hr class="Color-Linea">

        <div class="Info">
          <div class="Imagen">
            <div class="Imagenes-Taller">
              <img src="../../../Fotos/imagen.png" alt="logo" class="foto-taller">
              <img src="../../../Fotos/imagen.png" alt="logo" class="foto-taller">
            </div>
          </div>

          <div class="InfoTalleryResena">
            <p class="InfoTaller">Información del taller</p>

            <h3 class="texto-h3">Talleres cercanos a tu ubicación</h3>
            <div class="resenas">
              <span class="estrellas">Estrellas</span>
              <span class="texto-resenas">Texto</span>
            </div></div>

          <div class="mapa">
            <a href="https://www.google.com/maps/" target="_blank">

              <img src="../../../Fotos/imagen.png" alt="Mapa Taller" class="google-maps">

            </a>
          </div>
        </div>

      </div>
    </div>

</body>
</html>