<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Talleres</title>
    <link rel="stylesheet" href="StyleTalleres.css">
</head>
<body>

<main>
    <div class="tu-contenedor-flex">
        <article class="Taller">

            <header>
                <a href="./pages/Taller-Informacion.html?id={{id}}">
                    <img src="{{imagen}}" alt="Foto del Taller {{nombre}}" class="imagen-taller">
                </a>
                <h3 class="texto-h3">{{nombre}}</h3>
            </header>

            <footer class="resenas">
                <div class="estrellas-contenedor">
                    <span class="estrellas">★★★★★</span>
                </div>
                <a href="./pages/reviews.html?id={{id}}" class="texto-resenas">{{resenas}} Reseñas</a>
            </footer>

        </article>
    </div>
</main>

</body>
</html>
