<main class="container py-5">
  <div class="d-flex justify-content-center flex-wrap gap-4">

    <article class="card border-0 shadow rounded-4 p-3" style="width: 20rem;">

      <a href="./pages/Taller-Informacion.html">
        <img src="../../assets/taller-elpaso2000-03.jpg" class="card-img-top rounded-3 object-fit-cover" alt="Foto del Taller " style="height: 200px;">
      </a>

      <div class="card-body px-0 pb-0 pt-3">

        <h5 class="card-title fw-normal mb-3"> <!--{{nombre}} --></h5>

        <footer class="d-flex align-items-center gap-3">

          <div class="border border-warning border-2 rounded px-2 py-1 d-inline-flex align-items-center">
            <span class="text-dark" style="letter-spacing: 2px;">★★★★☆</span>
          </div>

          <a href="./pages/reviews.html" class="text-dark text-decoration-underline small">
            <!--{{resenas}} --> Reseñas
          </a>

        </footer>

      </div>

    </article>

  </div>
</main>
