<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Talleres</title>
    <link rel="stylesheet" href="StyleTalleres.css">
</head>
<body>

<main>
    <div class="tu-contenedor-flex">
        <article class="Taller">

            <header>
                <img src="../../../Fotos/imagen.png" alt="Foto Taller 2" class="imagen-taller">
                <h3 class="texto-h3">Nombre Taller</h3>
            </header>

            <footer class="resenas">
                <div class="estrellas-contenedor">
                    <span class="estrellas">★★★★★</span>
                </div>
                <span class="texto-resenas">Nº de Reseñas</span>
            </footer>

        </article>
    </div>
</main>

</body>
</html>